@use "../abstract/mixins" as m;
@use "../abstract/variables" as v;

.button {
    font-size: "Red Rose";
    font-weight: 700;
    text-decoration: none;
    @include m.flex;
    transition: all 200ms;

    &__icon {
        transition: transform 200ms ease;

        &-stroke {
            transition: stroke-width 200ms ease;
        }
    }

    &--primary {
        font-size: 40px;
        padding: 24px;
        background-color: v.$secondary;
        color: v.$primary;
        gap: 20px;

        &:not(.is-disabled):hover {
            transform: scaleX(1.04);

            .button__icon--turn {
                transform: rotate(-25.77deg) scale(1.125);
            }

            .button__icon--scale {
                transform: scale(1, 1.3);
            }

            .button__icon--scale .button__icon-stroke {
                stroke-width: 3;
            }
        }
    }

    &--secondary {
        font-size: 24px;
        padding: 16px 24px;
        background-color: v.$primary;
        color: #ffffff;
        gap: 10px;
        border: 1px solid v.$secondary;

        // &:hover {
        //     transform: scaleX(1.04);

        //     .button__icon--turn {
        //         transform: rotate(-25.77deg) scale(1.125);
        //     }

        //     .button__icon--scale {
        //         transform: scale(1, 1.3);
        //     }

        //     .button__icon--scale .button__icon-stroke {
        //         stroke-width: 3;
        //     }
        // }
    }

    &--small {
        font-size: 20px;
        padding: 14px 20px;
        background-color: v.$secondary;
        color: v.$primary;
        gap: 8px;

        span::after {
            content: attr(data-label);
            font-size: 22px;
            display: block;
            height: 0;
            overflow: hidden;
            visibility: hidden;
            pointer-events: none;
        }

        &:hover {
            font-size: 22px;
            transform: scale(1.1);

            .button__icon {
                transform: rotate(-6deg) scale(1.25);
            }
        }
    }
}

.button.is-disabled {
    background-color: #DBDBD6;
    cursor: default;
    pointer-events: none;
}