@use "../abstract/mixins" as m;

.settings {
    padding: 114px 170px;
    @include m.flex($justify: flex-start, $align: flex-start, $direction: column, $gap: 48px)
}

header {
    @include m.flex($align: flex-start, $direction: column);

    .headline {
        font-family: "Red Rose";
        font-size: 54px;
        font-weight: 700;
    }

    .headline__decorLine {
        margin-top: -4px;
        margin-left: -24px;
    }
}

main {
    width: 100%;
    @include m.flex($justify: space-between, $align: auto);

    .options {
        @include m.flex($align: flex-start, $direction: column, $gap: 54px);
    }

    .options__choosed {
        @include m.flex($justify: space-between, $align: flex-end, $direction: column);
    }
}