@use "../abstract/mixins" as m;
@use "../abstract/variables" as v;

html:has(body.theme--codevibes),
body.theme--codevibes,
body.theme--codevibes * {
    scrollbar-color: #4dd5bc transparent;
}

html:has(body.theme--codevibes)::-webkit-scrollbar,
body.theme--codevibes::-webkit-scrollbar,
body.theme--codevibes *::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

html:has(body.theme--codevibes)::-webkit-scrollbar-track,
body.theme--codevibes::-webkit-scrollbar-track,
body.theme--codevibes *::-webkit-scrollbar-track {
    background: transparent;
}

html:has(body.theme--codevibes)::-webkit-scrollbar-thumb,
body.theme--codevibes::-webkit-scrollbar-thumb,
body.theme--codevibes *::-webkit-scrollbar-thumb {
    background-color: #4dd5bc;
    border-radius: 999px;
    border: 2px solid transparent;
    background-clip: padding-box;
}

.theme--codevibes {
    background-color: v.$primary;

    .game__header {
        background-color: v.$primary;
    }

    .game__score {
        gap: 20px;
    }

    .score__player {
        svg {
            display: none;
        }

        align-items: center;

        &::before {
            content: "";
            width: 24px;
            height: 20px;
            display: block;
            background: center / contain no-repeat;
            flex-shrink: 0;
        }

        &:first-child::before {
            background-image: url("/assets/icons/arrowBlue.png");
        }

        &:last-child::before {
            background-image: url("/assets/icons/arrowOrange.png");
        }

        .score__player--number {
            font-size: 24px;
            font-weight: 400;
            display: inline-flex;
            align-items: center;
            gap: 8px;

            &::after {
                font-family: "Red Rose";
            }
        }

        &:first-child .score__player--number::before {
            content: "Blue";
        }

        &:last-child .score__player--number::before {
            content: "Orange";
        }
    }

    .game__score {
        background-color: #425652;
        color: v.$primary;
    }

    .score__player:first-child {
        color: #097fc5;
    }

    .score__player:last-child {
        color: #ea6900;
    }

    .current__player {
        svg {
            display: none;
            border-radius: 8px;
        }

        &::after {
            content: "";
            width: 29px;
            height: 24px;
            display: block;
            background: url("/assets/icons/arrowBlue.png") center / contain no-repeat;
            flex-shrink: 0;
        }

        &[data-active-player="1"]::after {
            background-image: url("/assets/icons/arrowOrange.png");
        }

        &--text {
            font-family: "Red Rose";
            font-size: 26px;
            font-weight: 400;
            color: #ffffff;
        }
    }

    .button--secondary {
        background-color: #86E9D633;
        border: 1px solid #4DD5BC;

        &:hover {
            background-color: #86E9D642;
            outline: 2px solid #4DD5BC;
            box-shadow: 6px 6px 6px #4DD5BC33;
        }
    }

    .game__card-face--front {
        background: linear-gradient(-135deg, #4DD5BC 0%, #286F62 100%);

        &::after {
            content: "";
            position: absolute;
            inset: 0;
            background: url("/assets/icons/daLogo.svg") center / 55% auto no-repeat;
        }
    }

    .game__card-face--back {
        background-color: #E8F3F0;
        border: 5px solid transparent;

        &.is-match {
            border: 5px solid #4DD5BC;
            box-shadow: 6px 6px 8px #4DD5BC4D;
        }
    }

    .game__card {
        width: 120px;
        height: 120px;
    }

    .game-over-screen {
        position: fixed;
        inset: 0;
        z-index: 100;
        background: v.$primary;
        @include m.flex;
        padding: 0;
    }

    .game-over-screen__panel {
        @include m.flex($direction: column, $justify: center, $gap: 124px);
    }

    .game-over-screen__title {
        position: relative;
        font-family: "Red Rose";
        font-size: 124px;
        font-weight: 800;
        color: #ffffff;
        white-space: nowrap;
        z-index: 10;

        &::after {
            content: "Game over";
            position: absolute;
            top: 2px;
            left: 2px;
            color: #4DD5BC;
            text-shadow: 0 0 3px #4dd5bc;
            z-index: 1;
        }
    }

    .game-over-screen__summary {
        @include m.flex($direction: column, $gap: 24px);
    }

    .game-over-screen__label {
        font-family: "Red Rose";
        font-size: 26px;
        font-weight: 400;
        color: #ffffff;
        text-align: center;
    }

    .game-over-screen__game-score {
        padding: 17px 20px;
        @include m.flex($gap: 32px);

        .score__player {
            @include m.flex($gap: 4px);
        }
    }

    .game-nav-screen {
        position: fixed;
        inset: 0;
        z-index: 101;
        background: v.$primary;
        color: #ffffff;
        @include m.flex($justify: flex-start, $direction: column);
    }

    .nav-screen__confetti {
        width: 80%;
        display: block;
    }

    .game-nav-screen__panel {
        @include m.flex($direction: column, $justify: center, $gap: 64px);

        .nav-screen__text {
            @include m.flex($direction: column, $gap: 10px);

            .nav-screen--description {
                font-family: "Red Rose";
                font-size: 40px;
                font-weight: 400;
            }

            .nav-screen--title {
                font-family: "Red Rose";
                font-size: 60px;
                font-weight: 700;
                color: #F58E39;
            }
        }

        .nav-screen__winner-graphic {
            background-image: url("/assets/img/chessPawnOrange.png");
        }

        .game-nav-screen__btn {
            font-family: "Red Rose";
            font-size: 24px;
            font-weight: 700;
            padding: 16px 24px;
            background-color: #86E9D633;
            color: #ffffff;
            border: 1px solid #4DD5BC;
            outline: 2px solid transparent;

            &:hover {
                background-color: #86E9D642;
                outline: 2px solid #4DD5BC;
                transform: scale(1, 1);
            }
        }

        &.blue {
            .nav-screen--title {
                color: #2BB1FF;
            }

            .nav-screen__winner-graphic {
                background-image: url("/assets/img/chessPawnBlue.png");
            }
        }

        &.tie {
            .nav-screen--title {
                color: #ffffff;
            }

            .nav-screen__winner-graphic {
                background-image: url("/assets/img/pockal.png");
            }
        }
    }

    .exit-confirm__text {
        font-family: "Red Rose";
        font-size: 32px;
    }

    .button--popup {
        font-family: "Red Rose";
        font-size: 20px;
        font-weight: 700;
        padding: 16px 24px;
        border: none;
        outline: none;
        border-radius: 0;
        box-shadow: none;

        &:hover {
            color: #ffffff;
            box-shadow: none;
            transform: scale(1, 1);
        }
    }

    .exit-confirm__back {
        background-color: #66CFBC;
        border: 3px solid transparent;
        outline: none;
        color: #ffffff;

        &:hover {
            border: 3px solid #3ABCA4;
            outline: none;
            background-color: #66CFBCB2;
            color: #ffffff;
        }
    }

    .exit-confirm__exit {
        background-color: #86E9D624;
        border: 2px solid #4DD5BC;
        color: #4DD5BC;

        &:hover {
            border: 2px solid #4DD5BC;
            outline: 1px solid #4DD5BC;
            background-color: #86E9D642;
            color: #4DD5BC;
        }
    }
}