@font-face {
    font-family: "Red Rose";
    src: url(/assets/fonts/RedRose-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Almarai";
    src: url(/assets/fonts/Almarai-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: "Almarai";
    src: url(/assets/fonts/Almarai-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Almarai";
    src: url(/assets/fonts/Almarai-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Almarai";
    src: url(/assets/fonts/Almarai-ExtraBold.ttf);
    font-weight: 800;
}

@font-face {
    font-family: "Orbitron";
    src: url(/assets/fonts/Orbitron-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Figtree";
    src: url(/assets/fonts/Figtree-VariableFont_wght.ttf);
}

@font-face {
    font-family: "FigtreeItalic";
    src: url(/assets/fonts/Figtree-Italic-VariableFont_wght.ttf);
}

@font-face {
    font-family: "KleeOne";
    src: url(/assets/fonts/KleeOne-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "KleeOne";
    src: url(/assets/fonts/KleeOne-SemiBold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: "Delius";
    src: url(/assets/fonts/DeliusUnicase-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Delius";
    src: url(/assets/fonts/DeliusUnicase-Bold.ttf);
    font-weight: 700;
}