@font-face {
    font-family: "Red Rose";
    src: url(/assets/fonts/RedRose-VariableFont_wght.ttf);
}

@font-face {
    font-family: "Almarai";
    src: url(/assets/fonts/Almarai-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: "Almarai";
    src: url(/assets/fonts/Almarai-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: "Almarai";
    src: url(/assets/fonts/Almarai-Bold.ttf);
    font-weight: 700;
}

@font-face {
    font-family: "Almarai";
    src: url(/assets/fonts/Almarai-ExtraBold.ttf);
    font-weight: 800;
}